button:focus {outline:0 !important;}

h1 {
  margin-left: 20px;
  font-family: "Trebuchet MS";
}

h3 {
  margin-left: 25px;
  font-family: "Trebuchet MS";
}

.cursor {
  outline: 50px red;
  background-color: pink;
}

.background {
  height: 100%;
  width: 100%;
}